.login {
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    background-image: url(assets/fundo.jpeg)
}

 form{
    background:red;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
   }

.caixa{
    text-align: center;
}


/*Css da pagina inicial*/
.banner {
    width: 100%;
    height: 210px;


}
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;

}
.principal{
    padding: 3em 0;
    background: #FFFFFF;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong {
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
